<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.pifeng.monitoring.ui.business.web.dao.IMonitorJavaThreadPoolDao">

    <!-- 获取java线程池名字 -->
    <select id="getJavaThreadPoolNames" resultType="java.lang.String">
        SELECT `NAME` AS threadPoolName
        FROM MONITOR_JAVA_THREAD_POOL
        WHERE INSTANCE_ID = #{instanceId}
        ORDER BY ACTIVE_COUNT DESC, QUEUE_SIZE DESC
    </select>

</mapper>
