<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title th:text="#{instance.detail}">应用详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/admin.css" th:href="@{/style/admin.css}" media="all">
    <link rel="stylesheet" href="./style/myself.css" th:href="@{/style/myself.css}" media="all">
    <link rel="stylesheet" href="./lib/xterm/xterm.css" th:href="@{/lib/xterm/xterm.css}" media="all">
    <!-- 引入国际化工具 -->
    <script th:src="@{/js/i18n/i18n-config.js}"></script>
    <script th:src="@{/js/i18n/i18n-utils.js}"></script>
    <script th:src="@{/js/i18n/messages/zh_CN.js}"></script>
    <script th:src="@{/js/i18n/messages/en_US.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
        var tokenValue = /*[[${_csrf.token}]]*/'';
        // 应用实例表的主键ID
        var id = [[${id}]];
        // 应用实例ID
        var instanceId = [[${instanceId}]];
        // 端点
        var endpoint = [[${endpoint}]];
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="instanceDetail">
            <ul class="layui-tab-title">
                <li th:class="${isCollectVmMetrics?'layui-this':''}"
                    lay-id="memory"
                    th:if="${isCollectVmMetrics}">
                    <span id="tab-memory">内存</span>
                </li>
                <li lay-id="jvm"
                    th:if="${isCollectVmMetrics}">
                    <span id="tab-jvm">JVM</span>
                </li>
                <li th:class="${!isCollectVmMetrics&&isCollectThreadPoolMetrics?'layui-this':''}"
                    lay-id="threadPool"
                    th:if="${isCollectThreadPoolMetrics}">
                    <span id="tab-threadPool">线程池</span>
                </li>
                <li th:class="${!isCollectVmMetrics&&!isCollectThreadPoolMetrics&&isEnableArthas?'layui-this':''}"
                    lay-id="arthas"
                    th:if="${isEnableArthas}">
                    <span id="tab-arthas">Arthas</span>
                </li>
            </ul>
            <div class="layui-tab-content">
                <div th:if="${isCollectVmMetrics}"
                     th:class="${isCollectVmMetrics?'layui-tab-item layui-show':'layui-tab-item'}">
                    <div class="layui-card">
                        <form class="layui-form layuiadmin-card-header-auto layui-card-header-my">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="jvmMemoryTime" id="label-jvmMemoryTime">时间范围(T)</label>
                                    <div class="layui-input-block">
                                        <select id="jvmMemoryTime" name="jvmMemoryTime" lay-filter="jvmMemoryTime">
                                            <option value="hour" id="opt-hour">1小时</option>
                                            <option value="day" id="opt-day">1天</option>
                                            <option value="week" id="opt-week">1周</option>
                                            <option value="month" id="opt-month">1月</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="autoRefreshJvmMemory" id="label-autoRefreshJvmMemory">自动刷新</label>
                                    <div class="layui-input-block">
                                        <input checked lay-filter="autoRefreshJvmMemory" type="checkbox"
                                               id="autoRefreshJvmMemory" name="autoRefreshJvmMemory"
                                               lay-skin="switch" lay-text="开启|关闭">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space5">
                                <div class="layadmin-dataview-my-330px" id="get-jvm-memory-heap-info"></div>
                                <div class="layadmin-dataview-my-330px" id="get-jvm-memory-non-heap-info"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <form class="layui-form layui-card-header layuiadmin-card-header-auto layui-card-header-my">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="jvmMemoryChart" id="label-jvmMemoryChart">图表(C)</label>
                                    <div class="layui-input-block">
                                        <select id="jvmMemoryChart" name="jvmMemoryChart" lay-filter="jvmMemoryChart">
                                            <option th:each="types:${jvmMemoryTypes}" th:value="${types}"
                                                    th:text="${types}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space5">
                                <div class="layadmin-dataview-my-330px" id="get-jvm-memory-pool-info"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${isCollectVmMetrics}"
                     class="layui-tab-item">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" id="collapse-class">类</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="class-loading">
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" id="collapse-gc">GC</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="gc">
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" id="collapse-thread">线程</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="thread" style="word-wrap:break-word;">
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" id="collapse-vm">VM</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="runtime"
                                     style="word-wrap:break-word;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${isCollectThreadPoolMetrics}"
                     th:class="${!isCollectVmMetrics&&isCollectThreadPoolMetrics?'layui-tab-item layui-show':'layui-tab-item'}"
                     class="layui-tab-item">
                    <div class="layui-card">
                        <form class="layui-form layuiadmin-card-header-auto layui-card-header-my">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="javaThreadPoolTime" id="label-javaThreadPoolTime">时间范围(T)</label>
                                    <div class="layui-input-block">
                                        <select id="javaThreadPoolTime" name="javaThreadPoolTime"
                                                lay-filter="javaThreadPoolTime">
                                            <option value="hour" id="opt-tp-hour">1小时</option>
                                            <option value="day" id="opt-tp-day">1天</option>
                                            <option value="week" id="opt-tp-week">1周</option>
                                            <option value="month" id="opt-tp-month">1月</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="javaThreadPoolNameChart" id="label-javaThreadPoolNameChart">线程池名字</label>
                                    <div class="layui-input-block">
                                        <select id="javaThreadPoolNameChart" name="javaThreadPoolNameChart"
                                                lay-filter="javaThreadPoolNameChart">
                                            <option th:each="types:${javaThreadPoolNames}" th:text="${types}"
                                                    th:value="${types}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="autoRefreshJavaThreadPool" id="label-autoRefreshJavaThreadPool">自动刷新</label>
                                    <div class="layui-input-block">
                                        <input checked lay-filter="autoRefreshJavaThreadPool"
                                               type="checkbox" lay-skin="switch" lay-text="开启|关闭"
                                               id="autoRefreshJavaThreadPool" name="autoRefreshJavaThreadPool">
                                    </div>
                                </div>
                                <div class="layui-inline" sec:authorize="hasAuthority('超级管理员')">
                                    <div class="layui-input-block">
                                        <button id="javaThreadPoolSetup" type="button"
                                                class="layui-btn layuiadmin-btn-useradmin" th:text="#{common.settings}">配置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space5">
                                <hr class="layui-hr-my">
                                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="thread-pool-abstract">
                                    <!-- 第一行：基础信息 -->
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-name">
                                                    线程池名字<br>(name)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.name}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-corePoolSize">
                                                    核心线程数<br>(corePoolSize)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.corePoolSize}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-maximumPoolSize">
                                                    最大线程数<br>(maximumPoolSize)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.maximumPoolSize}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-largestPoolSize">
                                                    历史最大线程数<br>(largestPoolSize)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.largestPoolSize}]]
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 第二行：线程状态 -->
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-poolSize">
                                                    当前线程数<br>(poolSize)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.poolSize}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-activeCount">
                                                    活跃线程数<br>(activeCount)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.activeCount}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-taskCount">
                                                    总任务数<br>(taskCount)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.taskCount}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-completedTaskCount">
                                                    已完成任务数<br>(completedTaskCount)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.completedTaskCount}]]
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 第三行：队列信息 -->
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-queueType">
                                                    队列类型<br>(queueType)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.queueType}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-queueCapacity">
                                                    队列容量<br>(queueCapacity)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.queueCapacity}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-queueRemainingCapacity">
                                                    队列剩余容量<br>(queueRemainingCapacity)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.queueRemainingCapacity}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-queueSize">
                                                    当前队列大小<br>(queueSize)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.queueSize}]]
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 第四行：策略与配置 -->
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-rejectedTaskCount">
                                                    拒绝任务数<br>(rejectedTaskCount)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.rejectedTaskCount}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-rejectedExecutionHandler">
                                                    拒绝策略<br>(rejectedExecutionHandler)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.rejectedExecutionHandlerName}]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-allowCoreThreadTimeOut">
                                                    核心线程空闲回收<br>(allowCoreThreadTimeOut)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    <span id="tp-value-allowCoreThreadTimeOut" th:data-value="${monitorJavaThreadPoolVo==null?'':monitorJavaThreadPoolVo.allowCoreThreadTimeOut}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-keepAliveTime">
                                                    空闲回收时间<br>(keepAliveTime)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.keepAliveTime}]] <span id="tp-unit-seconds">秒</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 第五行：利用率 -->
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-md3">
                                            <div class="thread-pool-info-container">
                                                <div class="thread-pool-info-label" id="tp-label-utilizationRate">
                                                    利用率<br>(utilizationRate)
                                                </div>
                                                <div class="thread-pool-info-value">
                                                    [[${monitorJavaThreadPoolVo?.utilizationRate}]]
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="layui-hr-my">
                                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                                    <div class="layadmin-dataview-my-330px"
                                         id="get-java-thread-pool-active-info">
                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                                    <div class="layadmin-dataview-my-330px"
                                         id="get-java-thread-pool-queue-info">
                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                                    <div class="layadmin-dataview-my-330px"
                                         id="get-java-thread-pool-completed-info">
                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                                    <div class="layadmin-dataview-my-330px"
                                         id="get-java-thread-pool-rejected-info">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${isEnableArthas}"
                     th:class="${!isCollectVmMetrics&&!isCollectThreadPoolMetrics&&isEnableArthas?'layui-tab-item layui-show':'layui-tab-item'}"
                     style="height: calc(100vh - 100px);">
                    <div class="layui-card">
                        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                            <form class="layui-form-item" onsubmit="return false;">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="websocketIp" id="label-websocketIp">IP</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="websocketIp" name="websocketIp" placeholder="127.0.0.1"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="websocketPort" id="label-websocketPort">端口号</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="websocketPort" name="websocketPort" placeholder=""
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button id="connect" type="button" class="layui-btn layuiadmin-btn-useradmin">
                                        <span id="btn-connect">连接</span>
                                    </button>
                                    <button id="disconnect" type="button" class="layui-btn layuiadmin-btn-useradmin">
                                        <span id="btn-disconnect">断开</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body" style="height: calc(100vh - 190px)">
                            <div class="layui-row" id="terminal"
                                 style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/common.js}" charset="utf-8"></script>
<!--<script th:src="@{/js/jquery.min.js}"></script>-->
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/echarts.theme.infographic.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/lib/xterm/xterm.js}"></script>
<script th:src="@{/lib/xterm/xterm-addon-fit.js}"></script>
<script charset="utf-8">
    // i18n 初始化
    I18nConfig.init();
    // Tab标签
    var elMemory = document.getElementById('tab-memory');
    if (elMemory) elMemory.innerText = I18nUtils.t('instanceDetail.tab.memory');
    var elJvm = document.getElementById('tab-jvm');
    if (elJvm) elJvm.innerText = I18nUtils.t('instanceDetail.tab.jvm');
    var elThreadPool = document.getElementById('tab-threadPool');
    if (elThreadPool) elThreadPool.innerText = I18nUtils.t('instanceDetail.tab.threadPool');
    var elArthas = document.getElementById('tab-arthas');
    if (elArthas) elArthas.innerText = I18nUtils.t('instanceDetail.tab.arthas');
    // 通用表单标签
    var labels = {
        'label-jvmMemoryTime': 'instanceDetail.timeRange',
        'label-autoRefreshJvmMemory': 'instanceDetail.autoRefresh',
        'label-jvmMemoryChart': 'instanceDetail.chart',
        'label-javaThreadPoolTime': 'instanceDetail.timeRange',
        'label-javaThreadPoolNameChart': 'instanceDetail.threadPoolName',
        'label-autoRefreshJavaThreadPool': 'instanceDetail.autoRefresh',
        'label-websocketIp': 'instanceDetail.arthas.ip',
        'label-websocketPort': 'instanceDetail.arthas.port'
    };
    for (var id in labels) {
        var el = document.getElementById(id);
        if (el) el.innerText = I18nUtils.t(labels[id]);
    }
    // 时间选项
    var timeOpts = {'opt-hour': 'hour', 'opt-day': 'day', 'opt-week': 'week', 'opt-month': 'month',
        'opt-tp-hour': 'hour', 'opt-tp-day': 'day', 'opt-tp-week': 'week', 'opt-tp-month': 'month'};
    for (var id in timeOpts) {
        var el = document.getElementById(id);
        if (el) el.innerText = I18nUtils.t('instanceDetail.timeOption.' + timeOpts[id]);
    }
    // 开关文本
    var switchOnOff = I18nUtils.t('instanceDetail.switchOn') + '|' + I18nUtils.t('instanceDetail.switchOff');
    var sw1 = document.getElementById('autoRefreshJvmMemory');
    if (sw1) sw1.setAttribute('lay-text', switchOnOff);
    var sw2 = document.getElementById('autoRefreshJavaThreadPool');
    if (sw2) sw2.setAttribute('lay-text', switchOnOff);
    // Arthas按钮
    var btnConnect = document.getElementById('btn-connect');
    if (btnConnect) btnConnect.innerText = I18nUtils.t('instanceDetail.arthas.connect');
    var btnDisconnect = document.getElementById('btn-disconnect');
    if (btnDisconnect) btnDisconnect.innerText = I18nUtils.t('instanceDetail.arthas.disconnect');
    // JVM折叠面板
    var collapseIds = {'collapse-class': 'classLoading', 'collapse-gc': 'gc', 'collapse-thread': 'thread', 'collapse-vm': 'vm'};
    for (var id in collapseIds) {
        var el = document.getElementById(id);
        if (el) el.innerText = I18nUtils.t('instanceDetail.jvmSection.' + collapseIds[id]);
    }
    // 线程池信息标签
    var tpLabels = ['name', 'corePoolSize', 'maximumPoolSize', 'largestPoolSize', 'poolSize', 'activeCount',
        'taskCount', 'completedTaskCount', 'queueType', 'queueCapacity', 'queueRemainingCapacity', 'queueSize',
        'rejectedTaskCount', 'rejectedExecutionHandler', 'allowCoreThreadTimeOut', 'keepAliveTime', 'utilizationRate'];
    tpLabels.forEach(function(key) {
        var el = document.getElementById('tp-label-' + key);
        if (el) el.innerHTML = I18nUtils.t('instanceDetail.threadPool.' + key);
    });
    // 线程池静态值（allowCoreThreadTimeOut）
    var elAllowCore = document.getElementById('tp-value-allowCoreThreadTimeOut');
    if (elAllowCore) {
        var rawValue = elAllowCore.getAttribute('data-value');
        if (rawValue === 'true') {
            elAllowCore.innerText = I18nUtils.t('instanceDetail.threadPool.recycle');
        } else if (rawValue === 'false') {
            elAllowCore.innerText = I18nUtils.t('instanceDetail.threadPool.notRecycle');
        }
    }
    var elSeconds = document.getElementById('tp-unit-seconds');
    if (elSeconds) elSeconds.innerText = I18nUtils.t('instanceDetail.threadPool.seconds');
</script>
<script th:inline="javascript">
    var extend = {
        index: 'lib/index' //主入口模块
    };
    var use = ['index', 'element', 'form', 'fullscreen'];
    if ([[${isCollectVmMetrics}]] === true) {
        extend.instanceDetailJvm = 'instance/instanceDetailJvm'; // 应用实例详情java虚拟机
        extend.instanceDetailJvmMemory = 'instance/instanceDetailJvmMemory'; // 应用实例详情java虚拟机内存
        use.push('instanceDetailJvm', 'instanceDetailJvmMemory');
    }
    if ([[${isCollectThreadPoolMetrics}]] === true) {
        extend.instanceDetailJavaThreadPool = 'instance/instanceDetailJavaThreadPool'; // 应用实例详情java线程池
        use.push('instanceDetailJavaThreadPool');
    }
    if ([[${isEnableArthas}]] === true) {
        extend.instanceDetailArthas = 'instance/instanceDetailArthas'; // 应用实例详情arthas
        use.push('instanceDetailArthas');
    }
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend(extend).use(use, function () {
        var element = layui.element;
        var instanceDetailJvmMemory = layui.instanceDetailJvmMemory;
        var instanceDetailJavaThreadPool = layui.instanceDetailJavaThreadPool;
        var instanceDetailArthas = layui.instanceDetailArthas;
        // 获取当前tab页的lay-id
        var layId = document.querySelector('li.layui-this')?.getAttribute('lay-id');
        if (layId === 'arthas') {
            instanceDetailArthas?.init();
        }
        // 监听tab页切换事件
        element.on('tab(instanceDetail)', function (data) {
            var layId = this.getAttribute('lay-id');
            switch (layId) {
                // 内存所在tab容器
                case 'memory':
                    instanceDetailJvmMemory?.tabSwitch();
                    break;
                // 线程池所在tab容器
                case 'threadPool':
                    instanceDetailJavaThreadPool?.tabSwitch();
                    break;
                // jvm所在tab容器
                case 'jvm':
                    break;
                // Arthas所在tab容器
                case 'arthas':
                    instanceDetailArthas?.tabSwitch();
                    break;
            }
        });
    });
</script>
</body>
</html>